# Manual installs for checking: uv

# LLM api keys
OPENAI_API_KEY='my-openai-api-key'

# Tools api leys
TAVILY_API_KEY='my-tavily-api-key'

# Langsmith setup
LANGSMITH_API_KEY='my-langsmith-api-key'

# uncomment to set tracing to true when you set up your LangSmith account
#LANGSMITH_TRACING=true
#LANGSMITH_PROJECT=language_agent

# Uncomment the following if you are on the EU instance:
#LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
